<nav class="navbar bg-primary navbar-expand-lg" data-mdb-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DUA</a> <!--Título-->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!--Menu esquerdo-->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/pessoas">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/pessoas/new">Cadastro</a>
        </li>
      </ul>

     
      <div class="d-flex align-items-center">
        <!--Botão sair-->
        <a class="nav-link text-white" href="/login">Sair</a>
      </div>
    </div>
  </div>
</nav>
